body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:940px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:84px;
  width:1273px;
  height:940px;
  display:flex;
}
#u540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:1024px;
  display:flex;
}
#u541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1273px;
  height:84px;
  background:inherit;
  background-color:rgba(0, 126, 93, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:1273px;
  height:84px;
  display:flex;
}
#u542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:46px;
  width:104px;
  height:104px;
  display:flex;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:817px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u544 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:149px;
  width:1148px;
  height:817px;
  display:flex;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#EEF2E6;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:25px;
  width:119px;
  height:34px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#EEF2E6;
}
#u545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#EEF2E6;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:48px;
  width:111px;
  height:14px;
  display:flex;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  color:#EEF2E6;
}
#u546 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:201px;
  width:271px;
  height:28px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:274px;
  width:174px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:393px;
  width:203px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:512px;
  width:81px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(82, 121, 111, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:844px;
  width:140px;
  height:40px;
  display:flex;
}
#u551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:844px;
  width:140px;
  height:40px;
  display:flex;
  color:#000000;
}
#u552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:627px;
  width:118px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u554 label {
  left:0px;
  width:100%;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:393px;
  width:132px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u554 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u554_img.selected {
}
#u554.selected {
}
#u554_img.disabled {
}
#u554.disabled {
}
#u554_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:116px;
  word-wrap:break-word;
  text-transform:none;
}
#u554_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:393px;
  width:80px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u556_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:665px;
  width:464px;
  height:47px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556.disabled {
}
#u557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u557_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:550px;
  width:464px;
  height:47px;
  display:flex;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u557.disabled {
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:307px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:420px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:645px;
  width:50px;
  height:50px;
  display:flex;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:532px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:758px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:194px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:277px;
  width:55px;
  height:1px;
  display:flex;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:390px;
  width:55px;
  height:1px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:502px;
  width:55px;
  height:1px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:612px;
  width:55px;
  height:1px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:726px;
  width:55px;
  height:1px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:837px;
  width:55px;
  height:1px;
  display:flex;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:512px;
  width:71px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u570 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u571 label {
  left:0px;
  width:100%;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:547px;
  width:100px;
  height:15px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u571_img.selected {
}
#u571.selected {
}
#u571_img.disabled {
}
#u571.disabled {
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u572 label {
  left:0px;
  width:100%;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:568px;
  width:100px;
  height:15px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u572_img.selected {
}
#u572.selected {
}
#u572_img.disabled {
}
#u572.disabled {
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u573_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:312px;
  width:464px;
  height:47px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u573.disabled {
}
#u574_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u574_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:431px;
  width:464px;
  height:47px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u574_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u574.disabled {
}
#u575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u575_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:431px;
  width:464px;
  height:47px;
  display:flex;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u575.disabled {
}
#u576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u576_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:589px;
  width:464px;
  height:47px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576.disabled {
}
#u577 label {
  left:0px;
  width:100%;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:642px;
  width:100px;
  height:15px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u577_img.selected {
}
#u577.selected {
}
#u577_img.disabled {
}
#u577.disabled {
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u578_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:665px;
  width:464px;
  height:47px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:47px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578.disabled {
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EEF2E6;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:21px;
  width:83px;
  height:21px;
  display:flex;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#EEF2E6;
}
#u579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:864px;
  width:50px;
  height:50px;
  display:flex;
  opacity:0.55;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_input {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u582_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:40px;
  padding:3px 2px 3px 2px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:right;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:23px;
  width:615px;
  height:40px;
  display:flex;
  text-align:right;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u582.disabled {
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:33px;
  width:20px;
  height:20px;
  display:flex;
}
#u583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:17px;
  width:50px;
  height:50px;
  display:flex;
}
#u584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:24px;
  width:38px;
  height:38px;
  display:flex;
  color:#000000;
}
#u585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
